.logo img {
    width: 100%;
}

.logo {
    margin: 10px auto;
    width: 400px;
}

.form-control {
    width: 400px;
}

.activity {
    color: white;
    width: 70%;
    background-color: rgb(108, 210, 108);
}